<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 notesHeader">
            <h4>Ultimas Peticiones</h4>
            <span id="menuButton"></span>
        </div>
        <div class="notes col-xs-12">
            <%
            var l = petitions.length;
            while (l > 0) {
            l--;
            if(petitions[l].attributes.close) {
            %>
            <div class="col-xs-12 note noteClosed">
                <p class="date"><%= petitions[l].attributes.date %></p>
                <h4 class="noteTitle"><%= petitions[l].attributes.name %></h4>
                <hr>
                <p><span><%= petitions[l].attributes.positive %></span>Apoyos
                    <span class="neg"><%= petitions[l].attributes.negative %></span>Negativos
                </p>
            </div>
            <%
            } else {
            %>
            <div class="col-xs-12 note">
                <a href="#/petitions/<%= petitions[l].attributes._id %>/details" >
                    <p class="date"><%= petitions[l].attributes.date %></p>
                    <h4 class="noteTitle"><%= petitions[l].attributes.name %></h4>
                    <hr>
                    <p><span><%= petitions[l].attributes.positive %></span>Apoyos
                        <span class="neg"><%= petitions[l].attributes.negative %></span>Negativos
                    </p>
                </a>
            </div>
            <%
            }
            }
            %>
        </div>
        <div class="col-xs-12 noteFooter">
            <button type="button" class="notesButton">Filter op thema</button>
        </div>
    </div>
</div>