<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 helpHeader">
            <h4>TV</h4>
            <span id="menuButton"></span>
        </div>
        <div id="help" class="col-xs-12">
            <div rel="109225430" class="col-xs-12 helpVideo">
                <div class="col-xs-4 vidthumb">

                </div>
                <div class="col-xs-8 eventInfo">

                </div>
                <div class="col-xs-8 videoDesc">

                </div>
            </div>
            <div rel="109226835" class="col-xs-12 helpVideo">
                <div class="col-xs-4 vidthumb">

                </div>
                <div class="col-xs-8 eventInfo">

                </div>
                <div class="col-xs-8 videoDesc">

                </div>
            </div>
            <div rel="109002351" class="col-xs-12 helpVideo">
                <div class="col-xs-4 vidthumb">

                </div>
                <div class="col-xs-8 eventInfo">

                </div>
                <div class="col-xs-8 videoDesc">

                </div>
            </div>
            <div rel="109223971" class="col-xs-12 helpVideo">
                <div class="col-xs-4 vidthumb">

                </div>
                <div class="col-xs-8 eventInfo">

                </div>
                <div class="col-xs-8 videoDesc">

                </div>
            </div>
            <div rel="109223614" class="col-xs-12 helpVideo">
                <div class="col-xs-4 vidthumb">

                </div>
                <div class="col-xs-8 eventInfo">

                </div>
                <div class="col-xs-8 videoDesc">

                </div>
            </div>
            <div rel="109221735" class="col-xs-12 helpVideo">
                <div class="col-xs-4 vidthumb">

                </div>
                <div class="col-xs-8 eventInfo">

                </div>
                <div class="col-xs-8 videoDesc">

                </div>
            </div>
        </div>
    </div>
</div>