<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 helpHeaderVideo">
            <h4><%= title %></h4>
            <span id="menuButton"></span>
        </div>
        <div id="videoVimeo" class="col-xs-12">
            <iframe id="vid" src="//player.vimeo.com/video/<%= src %>?portrait=0&color=333" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 videoDescription">
            <p>
                <%= description %>
            </p>
        </div>
        <div class="col-xs-12 noteFooter">
            <button type="button" class="notesButton">Compartir Video</button>
        </div>
    </div>
</div>