<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 adviceHeader">
            <h4>Proximos Eventos</h4>
            <span id="menuButton"></span>
        </div>
        <div id="events" class="col-xs-12">
            <div class="col-xs-12 event">
                <a href="/#/events/23/details" >
                    <div class="col-xs-4 eventDate">
                        <span class="eventDay">04</span><span class="eventMonth">Apr</span><span class="eventYear">2015</span>
                    </div>
                    <div class="col-xs-8 eventInfo">
                        <h4 class="eventName">Tripe A app launch</h4>
                        <p class="eventCompany">NIBE</p>
                        <p class="eventLocation">Amsterdam</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 event">
                <a href="event.html" >
                    <div class="col-xs-4 eventDate">
                        <span class="eventDay">23</span><span class="eventMonth">Apr</span><span class="eventYear">2015</span>
                    </div>
                    <div class="col-xs-8 eventInfo">
                        <h4 class="eventName">Tripe A app launch</h4>
                        <p class="eventCompany">NIBE</p>
                        <p class="eventLocation">Amsterdam</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 event">
                <a href="event.html" >
                    <div class="col-xs-4 eventDate">
                        <span class="eventDay">19</span><span class="eventMonth">Jan</span><span class="eventYear">2015</span>
                    </div>
                    <div class="col-xs-8 eventInfo">
                        <h4 class="eventName">Tripe A app launch</h4>
                        <p class="eventCompany">NIBE</p>
                        <p class="eventLocation">Amsterdam</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 event">
                <a href="event.html" >
                    <div class="col-xs-4 eventDate">
                        <span class="eventDay">19</span><span class="eventMonth">Jan</span><span class="eventYear">2015</span>
                    </div>
                    <div class="col-xs-8 eventInfo">
                        <h4 class="eventName">Tripe A app launch</h4>
                        <p class="eventCompany">NIBE</p>
                        <p class="eventLocation">Amsterdam</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 event">
                <a href="event.html" >
                    <div class="col-xs-4 eventDate">
                        <span class="eventDay">19</span><span class="eventMonth">Jan</span><span class="eventYear">2015</span>
                    </div>
                    <div class="col-xs-8 eventInfo">
                        <h4 class="eventName">Tripe A app launch</h4>
                        <p class="eventCompany">NIBE</p>
                        <p class="eventLocation">Amsterdam</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 event">
                <a href="event.html" >
                    <div class="col-xs-4 eventDate">
                        <span class="eventDay">19</span><span class="eventMonth">Jan</span><span class="eventYear">2015</span>
                    </div>
                    <div class="col-xs-8 eventInfo">
                        <h4 class="eventName">Tripe A app launch</h4>
                        <p class="eventCompany">NIBE</p>
                        <p class="eventLocation">Amsterdam</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 event">
                <a href="event.html" >
                    <div class="col-xs-4 eventDate">
                        <span class="eventDay">19</span><span class="eventMonth">Jan</span><span class="eventYear">2015</span>
                    </div>
                    <div class="col-xs-8 eventInfo">
                        <h4 class="eventName">Tripe A app launch</h4>
                        <p class="eventCompany">NIBE</p>
                        <p class="eventLocation">Amsterdam</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>