<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 noteHeader">
            <div><h4></span>Detalles de la peticion<span class="noteShare"></span><span class="noteClose"></span></h4></div>

            <div class="noteTab act"><a>Descripcion</a></div>
            <div class="noteTab"><a>Comentarios</a></div>
        </div>
        <div class="col-xs-12 noteDescription">
            <h3 class="noteTitle">Brand door menselijk handelen te voorkomen</h3>
            <!--
                <textarea placeholder="Uw notities"></textarea>
                -->
            <ol class="noteList">
                <li class="act">Praesent nec sagittis, id venenatis nisi. In a ex in odio rhoncus</li>
                <li>Praesent nec sagittis, id venenatis nisi. In a ex in odio rhoncus</li>
                <li>Praesent nec sagittis, id venenatis nisi. In a ex in odio rhoncus</li>
            </ol>
        </div>
        <div class="col-xs-12 noteFooter">
            <button type="button" class="notesButton">Apoyar</button>
        </div>
    </div>
</div>