@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?asv2pw');
    src:url('../fonts/icomoon.eot?#iefixasv2pw') format('embedded-opentype'),
    url('../fonts/icomoon.woff?asv2pw') format('woff'),
    url('../fonts/icomoon.ttf?asv2pw') format('truetype'),
    url('../fonts/icomoon.svg?asv2pw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    margin:0;
    padding:0;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    font-size:13px;
    color:#000;
    background-color:#ffffff;
    overflow-x: hidden;
    height: 100%;
}
p {
    font-size: small;
}
button {
    outline: 0;
    border: 0;
    height: 60px;
}
a {
    color: inherit;
}
a:link {
    text-decoration: none   ;
}
a:hover {
    text-decoration: none;
}
.imgLogo {
    width: 100px;
    height: 100px;
}
input {
    border: none;
}
input:focus {
    outline:0px;
}
textarea {
    border: 0;
}
/* Navigation */
#nav {
    margin:0px;
    padding:0px;
}
#nav li {
    margin:0px;
    padding:0px;
    list-style:none;
}
#nav li a {
    display:block;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    text-decoration:none;
    padding:20px;
    padding-left: 25px;
    line-height:16px;
}
#nav li #toggle-menu {
    background: transparent url(../img/icon_close_panel.png) no-repeat center center;
    background-size: 25px 25px;
    display: inline-block;
    padding: 14px 20px;
    margin: 18px 12px 0px 12px;
    cursor: pointer;
}
#rightSidebarMenu {
    right: -345px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 230px;
    background: rgba(0,0,0,0.90);
    z-index: 20;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display:none;
}
#rightSidebarMenu.toggled {
    right: 0;
    position: fixed;
    display:block;
}
#menuButton:after {
    font-family: icomoon;
    content: "\e61c";
    position: relative;
    float: right;
    bottom: 33px;
    font-size: medium;
}
/* ===================== */
.logo {
    float: none;
    margin: 15% auto;
    margin-bottom: 5%;
    /* margin:0% auto; change when error*/
}
.loginBox {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 5%;
    padding-right: 13%;
    padding-left: 13%;
}
.loginInput {
    border: none;
    border-bottom: solid 1px #CACACA;
    padding: 15px;
    padding-left: 25px;
    width: 100%;
}
.loginInputError {
    border: none;
    border-bottom: solid 1px #E53935;
    padding: 10px;
    padding-left: 25px;
    width: 100%;
    color: #E53935;
}
.loginInput:focus {
    outline:0px;
}
.emailIcon:before {
    font-family: icomoon;
    content: '\e623';
    float: left;
    position: relative;
    top: 34px;
    font-size: larger;
}
#loginPsw:before {
    font-family: icomoon;
    content: '\e6   23';
    float: left;
    position: relative;
    top: 33px;
    font-size: larger;
}
.loginLink {
    font-size: small;
    color: #00A2D2;
    /* Change */
    display: initial;
}
.loginButton {
    background: #0082C5;
    width: 100%;
    color: #ffffff;
    display: initial;
    /* change when input fill */
}
.loginError {
    background: #E53935;
    color: #FFCDD2;
    font-size: small;
    padding-top: 20px;
    height: 60px;
    margin-bottom: 5%;
    /* change when error */
    display:none ;
}
.reminderHead {
    display: inline;
    height: 60px;
}
.reminderHead h5 {
    color: #0082C5;
    text-align: left;
    margin-left: -4px;
    position: relative;
    top: 25px;
}
.loginActivate {
    display: inline;
    height: 60px;
    /* Change */
    display: initial;
}
.loginActivate h5 {
    color: #0082C5;
}

/* ------------- */
.wizardHead {
    text-align: center;
}
.wizardHead h4 {
    margin-bottom: 10%;
}
.wizardHead p {
    margin-bottom: 7%;
}
.wizardAvatar {

}
.wizardHead button {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 100px;
    margin-bottom: 5%;
    height: 30px;
    border: solid 1px;
    font-weight: bold;
}
.wizardHead button:before {
    font-family: icomoon;
    content: "\e607";
    margin-right: 5px;
    position: relative;
    top: 1px;
}
.avatar {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    display: block;
}
.wizardDetails {
    padding-right: 8%;
    padding-left: 8%;
    height: 340px;
}
.wizardDetails input {
    padding-left: 0;
}
.wizardFooter {
    height: 80px;
    position: fixed;
    bottom: 0px;
    background-color: #f7f7f7;
    padding-left: 0;
    padding-right: 0;
}
.wizardFooter button {

}
.wizardButton {
    position: relative;
    top: 2px;
    background: #ffd006;
    width: 100%;
    color: #000000;
    display: initial;

}
.wizardSelect {
    padding-top: 2px;
    width: 40px;
    margin: 0 auto;
}
.wizardCircle {
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #CACACA;
    display: -webkit-inline-box;
    margin-left: 3px;
}
.wizardCircle.act {
    background: #0082C5;
}
/* NOTITIES */
.notes {
    background-color: #f7f7f7;
    top: 60px;
    position: absolute;
    height: 90%;
}
.noteClosed {
    background-color: #ffffff;
    margin-top: 25px;
    padding-top: 5px;
    border-radius: 5px;
    opacity: .2;
}
.notesHeader {
    position: fixed;
    height: 60px;
    border-bottom: solid 2px #ffd006;
    text-align: center;
    padding-top: 15px;
    background-color: #ffffff;
    z-index: 1;
}
.notesButtonYes {
    position: fixed;
    bottom: 0px;
    background: #4CAF50;
    width: 50%;
    left: 50%;
    color: #000000;
    display: initial;
}
.notesButtonNo {
    position: fixed;
    bottom: 0px;
    background: #F44336;
    width: 50%;
    color: #000000;
    display: initial;
}
.notesButtonNo.act {

}
.notesButtonNo.dis {
    opacity: .2;
}
.notesButtonYes.dis {
    opacity: .2;
}
.notesButtonYes.act {
    font-weight: bold;
}

.notesButton {
    position: fixed;
    bottom: 0px;
    background: #ffd006;
    width: 100%;
    color: #000000;
    display: initial;
}
.note {
    background-color: #ffffff;
    margin-top: 25px;
    padding-top: 5px;
    border-radius: 5px;
}
.note a:visited {
    color: inherit;
}
.date {
    font-size: smaller;
    color: #CACACA;
}
.noteTitle {
    color:#00A2D2;
}
.note hr {
    border-top: 1px solid rgba(0, 162, 210, 0.5);;
    margin-bottom: 10px;
    margin-top: 10px;
}
.note span {
    color: #00A2D2;
    margin-right: 5px;
    font-weight: bold;
}
.note span.neg {
    color: rgba(255, 0, 15, 0.65);
}
.note:last-child {
    margin-bottom: 65px;
}
.noteFooter {
    position: fixed;
    bottom: 0px;
    background-color: #f7f7f7;
    padding-left: 0;
    padding-right: 0;
}
/* NOTE */
.noteHeader {
    background-color: #0082C5;
    position: fixed;
    height: 90px;
    text-align: center;
    padding-top: 15px;
    z-index: 1;
    color: #ffffff;
}
.noteShare:after{
    font-family: icomoon;
    content: "\e616";
    position: relative;
    font-size: medium;
    left: 20px;
 }
.noteClose:after {
    font-family: icomoon;
    content: "\e609";
    position: relative;
    float: right;
    font-size: medium;
}
.noteDelete:before {
    font-family: icomoon;
    content: "\e61c";
    position: relative;
    font-size: medium;
    float: left;
}
.noteTab {
    width: 50%;
    float: left;
    padding-top: 5px;
}
.noteTab a {
    color: rgba(255, 255, 255, 0.50);
}
.noteHeader .act a {
    color: #ffffff;
}
.noteDescription {
    top: 90px;
    position: absolute;
    height: 80%;
}
.noteDescription textarea {
    width: 100%;
    height: 60%;
}
.noteDescription span {
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
}
.noteDescription p {
    font-size: larger;
}
.noteDescription .act p  {
    font-weight: bold;
}
.noteList {
    float: left;
    padding-right: 10px;
    font-weight: bold;
}
.noteList li {
    font-weight: normal;
}
.noteList li.act {
    font-weight: bold;
}
.noteList li.act:before {
    content: "\e613";
}
.noteList li:before {
    content: "\e613";
    font-family: icomoon;
    float: right;
    margin-left: 15px;
    font-size: large;
}
/* CONTACT */
#contact {
    background-color: #f7f7f7;
    top: 60px;
    position: relative;
}
.contactHeader {
    position: fixed;
    height: 60px;
    border-bottom: solid 2px #ffd006;
    text-align: center;
    padding-top: 15px;
    background-color: #ffffff;
    z-index: 1;
}
.contactHeader:after {
    font-family: icomoon;
    content: "\e61c";
    position: relative;
    float: right;
    bottom: 33px;
    font-size: medium;
}
#contactDetails {
    padding-top: 5%;
}
#contactDetails img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
#contactDetails p {
    margin-bottom: 0;
}
#contactName {
    font-weight: bold;
    margin-top: 10px;
}
#contactTo {
    font-weight: bold;
}
#contactInputs {
    margin-top: 5%;
}
#contactSubject {
    font-size: large;
    color: #00A2D2;
    font-weight: bold;
    margin-bottom: 5%;
}
#contactMaessage {
    width: 80%;
    height: 50px;
}
.contactFooter {
    position: fixed;
    bottom: 0px;
    background-color: #f7f7f7;
    padding-left: 0;
    padding-right: 0;
}
.contactFooter button {
    position: fixed;
    bottom: 0px;
    background: #0082C5;
    width: 100%;
    color: #ffffff;
    display: initial;
}
/* reporting */
.reportingHeader {
    height: 60px;
    border-bottom: solid 2px #ffd006;
    text-align: center;
    padding-top: 15px;
    background-color: #ffffff;
    z-index: 1;
}
.reportingHeader:after {
    font-family: icomoon;
    content: "\e61c";
    position: relative;
    float: right;
    bottom: 33px;
    font-size: medium;
}
.period {
    margin-bottom: -1px;
}
.period h4{
    margin-bottom: 0;
    color: #00A2D2;
}
.period:after {
    font-family: icomoon;
    content: "\e614";
    float: right;
    font-size: large;
    position: relative;
    bottom: 40px;
}
.period:before {
    float: left;
    font-size: 30px;
    margin-right: 15px;
    position: relative;
    bottom: 5px;
}
.timeSelection hr {
    position: relative;
    left: -15px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#lastMonth:before {
    font-family: icomoon;
    content: "\e61d";
}
#lastQuarter:before {
    font-family: icomoon;
    content: "\e621";
}

#lastHalf:before {
    font-family: icomoon;
    content: "\e619";
}

#lastYear:before {
    font-family: icomoon;
    content: "\e627";
}

#manual:before {
    font-family: icomoon;
    content: "\e618";
}
/* period Detail */
.reportingDetailHeader {
    height: 60px;
    border-bottom: solid 2px #ffd006;
    text-align: center;
    padding-top: 15px;
    background-color: #ffffff;
    z-index: 1;
}
.reportingDetailHeader:before {
    font-family: icomoon;
    content: "\e614";
    position: relative;
    top: 7px;
    float: left;
    font-size: medium;
}
.periodStart, .periodEnd {
    margin-top: 10px;
    float: left;
    text-align: center;
    width: 50%;
}
.dateInput {
    width: 80%;
    font-size: 20px;
    font-weight: lighter;
    color: #00A2D2;
    margin-left: 17%;
}
.periodEnd p, .periodStart p {
    margin-bottom: 0px;
}
#extraInfo {
    margin-top: 5%;
    width: 100%;
    height: 350px;
}
/* ADVIES SPECIALISTEN */
.adviceHeader {
    height: 60px;
    border-bottom: solid 2px #ffd006;
    text-align: center;
    padding-top: 15px;
    background-color: #ffffff;
    z-index: 1;
    position: fixed;
    left: 0px;
}
#adviceSelection {
    margin-top: -20px;
    padding: 0;
}
#adviceSelection a {
    font-size: 15px;
    color: #CACACA;
}
#adviceSelection a.act {
    color: #00A2D2;
    font-weight: bold;
}
#specialistList  {
    background-color: #f7f7f7;
}
.specialist {
    background-color: #ffffff;
    margin-top: 5px;
    padding-top: 5px;
    border-radius: 5px;
    padding-bottom: 5px;
}
#specialistList .specialist.first {
    margin-top: 105px;
}
.specialist:last-child {
    margin-bottom: 5%;
}
.specialistAvatar {
    float: left;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    position: relative;
    right: 20px;
}
.specialisInfo {
    float: left;
}
.specialistName {
    color:#00A2D2;
    margin-bottom: 2px;
    margin-top: 5px;
}
.specialistInfo p {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* specialist */
.specialistHeader {
    background-color: #0082C5;
    height: 90px;
    padding: 0px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
    text-align: center;
}
.specialistClose:after {
    font-family: icomoon;
    content: "\e609";
    color: #ffffff;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: larger;
}
#specialistDetails {

}
.specialistHeader .avatar {
    display: initial;
    margin-top: 50px;
    border: solid 1px #ffffff;
    margin-left: 28px;
}
.specialistDetails {
    text-align: center;
    margin-bottom: 25px;
}
.specialistDetails h3 {
    color: #00A2D2;
    margin-bottom: 5px;
}
.specialistDetails .specialistCompany {
    font-size: smaller;
    color: #CACACA;
    margin-bottom: 0px;
}
.specialistContact {
    /* CHANGE */
    display: none;
}
.specialistContact p {
    color: #CACACA;
    font-size: 20px;
}
.specialistPhone:before {
    font-family: icomoon;
    content: "\e624";
    color: #00A2D2;
    margin-right: 10px;
}
.specialistMail:before {
    font-family: icomoon;
    content: "\e623";
    color: #00A2D2;
    margin-right: 10px;
}
.specialistWeb:before {
    font-family: icomoon;
    content: "\e625";
    color: #00A2D2;
    margin-right: 10px;
}
.specialistFooter {
    position: fixed;
    bottom: 0px;
    height: 60px;
    background-color: #ffffff;
}
.specialistContactLink {

}
.specialistContactLink.act {
    border-top: solid 2px #ffd006;
}
.specialistDocumentsLink {

}
.specialistDocumentsLink {

}
.specialistContactLink:before {
    font-family: icomoon;
    content: "\e631";
    color: #CACACA;
    margin-right: 10px;
    font-size: 20px;
    margin-left: 40%;
    position: relative;
    top: 10px;
}
.specialistDocumentsLink:before {
    font-family: icomoon;
    content: "\e633";
    color: #CACACA;
    margin-right: 10px;
    font-size: 20px;
    margin-left: 40%;
    position: relative;
    top: 10px;
}
.specialistContactLink.act:before {
    font-family: icomoon;
    content: "\e632";
    color: #ffd006;
    margin-right: 10px;
    font-size: 20px;
    margin-left: 40%;
    position: relative;
    top: 10px;
}
.specialistDocumentsLink.act:before {
    font-family: icomoon;
    content: "\e634";
    color: #ffd006;
    margin-right: 10px;
    font-size: 20px;
    margin-left: 40%;
    position: relative;
    top: 10px;
}
.specialistDocuments h6 {
    text-transform: uppercase;
    font-weight: bold;
}
.specialistDocuments .list {
    position: relative;
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
}
.specialistDocuments .list li {
    border: none;
    color: #00A2D2;
    padding: 20px;
}
.specialistDocuments .list li:nth-child(2n+1) {
    background-color: #f7f7f7;
}
.specialistDocuments .list li:last-child {
    margin-bottom: 60px;
}
/* EVENT */
#events {
    background-color: #f7f7f7;
}
.event {
    background-color: #ffffff;
    margin-top: 5px;
    padding: 0;
    border-radius: 5px;
    height: 100px;
}
.event:first-child {
    margin-top: 80px;
}
.event:last-child {
    margin-bottom: 5%;
}
.eventInfo {
    padding-left: 10px;
    padding-top: 10px;
}
.eventDate {
    background-color: #00A2D2;
    display: inline;
    color: #ffffff;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 30px;
    padding-right: 5%;
    padding-left: 2%;
}
.eventDay {
    font-size: 30px;
    font-weight: 100;
    float: left;
    margin-right: 5px;
}
.eventMonth {
    float: left;
    margin-top: 0px;
    text-transform: uppercase;
    position: relative;
    top: 5px;
}
.eventYear {
    float: left;
}
.eventName {
    color:#00A2D2;
    margin-bottom: 2px;
    margin-top: 5px;
}
.eventLocation {
    font-weight: bold;
    position: relative;
    top: 10px;
}
#mapEvent {
    width: 100%;
    height: 360px;
    position: relative;
    top: 100px;
}
.eventCompany {
    color: #CACACA;
}
#eventDetails {

}
.eventHeader {
    background-color: #0082C5;
    height: 90px;
    padding: 0px;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
}
.eventHeader .eventDate {
    background-color: transparent;
    font-size: 24px;
    padding-top: 5px;
    padding-right: 0%;
    padding-left: 25px;
}
.eventHeader .eventDay {
    font-size: 55px;
}
.eventHeader .eventMonth {
    top: 10px;
}
.eventClose:after {
    font-family: icomoon;
    content: "\e609";
    color: #ffffff;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: larger;
}
.eventDetails {
    text-align: center;
    margin-bottom: 25px;
}
.eventDetails h3 {
    color: #00A2D2;
    margin-bottom: 5px;
}
.eventDetails .eventCompany {
    font-size: smaller;
    color: #CACACA;
    margin-bottom: 0px;
}
.eventDescription {

}
.eventDescription h6 {
    font-weight: bold;
    text-transform: uppercase;
}
.eventFooter {
    position: fixed;
    bottom: 0px;
    height: 60px;
    background-color: #ffffff;
}
.eventDescriptionLink.act {
    border-top: solid 2px #ffd006;
}
.eventDocumentLink.act {
    border-top: solid 2px #ffd006;
}
.eventDescriptionLink:before {
    font-family: icomoon;
    content: "\e617";
    color: #CACACA;
    margin-right: 10px;
    font-size: 20px;
    margin-left: 40%;
    position: relative;
    top: 10px;
}
.eventDocumentLink:before {
    font-family: icomoon;
    content: "\e633";
    color: #CACACA;
    margin-right: 10px;
    font-size: 20px;
    margin-left: 40%;
    position: relative;
    top: 10px;
}
.eventDescriptionLink.act:before {
    font-family: icomoon;
    content: "\e617";
    color: #ffd006;
    margin-right: 10px;
    font-size: 20px;
    margin-left: 40%;
    position: relative;
    top: 10px;
}
.eventDocumentLink.act:before {
    font-family: icomoon;
    content: "\e634";
    color: #ffd006;
    margin-right: 10px;
    font-size: 20px;
    margin-left: 40%;
    position: relative;
    top: 10px;
}
/* Partners */

#partners {
    background-color: #f7f7f7;
    position: absolute;
    height: 100%;
    top: 90px;
}
.partner {
    background-color: #ffffff;
    margin-top: 5px;
    padding: 0;
    border-radius: 5px;
    padding-bottom: 5px;
}
.partner:first-child {

}
.partner:last-child {
    margin-bottom: 5%;
}
.partnerName {
    color:#00A2D2;
    margin-bottom: 2px;
    margin-top: 5px;
}
.partner img {
    width: 75px;
    height: 40px;
    margin-top: 25px;
}
.partnerHeader {
    background-color: #0082C5;
    height: 60px;
    padding: 0px;
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.partnerHeader h5 {
    color: #ffffff;
    padding-top: 20px;
    margin: 0;
    padding-left: 28px;
}
.partnerClose:after {
    font-family: icomoon;
    content: "\e609";
    color: #ffffff;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: larger;
}
.partnerLogo {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
#partnerDetails {
    margin-top: 60px;
}

/* HELP */
.helpHeader {
    position: fixed;
    height: 60px;
    border-bottom: solid 2px #ffd006;
    text-align: center;
    padding-top: 15px;
    background-color: #ffffff;
    z-index: 1;
}
#help {
    background-color: #f7f7f7;
}
.helpVideo:first-child {
    margin-top: 70px;
}
.helpVideo {
    background-color: #ffffff;
    margin-top: 5px;
    padding: 0;
    border-radius: 5px;
    height: 100px;
}
.vidthumb {
    margin-top: 5%;
}